[submodule "utils/googletest"]
	path = utils/googletest
	url = https://github.com/google/googletest.git
[submodule "utils/OpenBLAS"]
	path = utils/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "utils/SuiteSparse"]
	path = utils/SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse/
[submodule "utils/Sundials"]
	path = utils/Sundials
	url = https://github.com/LLNL/sundials.git
