Package: marco
Version: $VERSION
Architecture: amd64
Maintainer: Michele Scuttari <michele@mscuttari.it>
Depends: build-essential
Section: devel
Priority: optional
Homepage: https://marco-compiler.com/
Description: MARCO Compiler
